<div class="div-principal">
  <div class="contenedor-pedido" *ngIf="mostrarCuenta && !qr.scan">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="ScanPropina()" class="boton-fab">
        <ion-icon name="qr-code"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <table class="table table-bordered caption-top" style="color: #ffffff;">
      <caption style="color: white; font-size: 20px;">CUENTA
        <ion-icon name="newspaper"></ion-icon>
      </caption>
      <thead>
        <tr>
          <th>PRODUCTO</th>
          <th>CANTIDAD</th>
          <th>PRECIO</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let producto of AgruparProductos(pedido.productos)">
          <tr>
            <td>{{producto.nombre}}</td>
            <td *ngIf="producto.cantidad > 1">{{producto.cantidad}}</td>
            <td *ngIf="producto.cantidad === 1">1</td>
            <td>${{producto.precio * producto.cantidad}}</td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" style="font-size: 25; font-weight: bolder;color: black;"><b>SUBTOTAL:</b> ${{pedido.total}}</td>
        </tr>
        <tr>
          <td colspan="3" style="font-size: 25; font-weight: bolder;color: black;"><b>DESCUENTO JUEGOS:</b> ${{pedido.descuentoJuego}}</td>
        </tr>
        <tr>
          <td colspan="3" style="font-size: 25; font-weight: bolder;color: black;"><b>PROPINA:</b> ${{pedido.propina}}</td>
        </tr>
        <tr>
          <td colspan="3" style="font-size: 25; font-weight: bolder;color: black;"><b>TOTAL:</b> ${{(pedido.propina + pedido.total) - pedido.descuentoJuego}}</td>
        </tr>
      </tfoot>
    </table>
    <div *ngIf="pedido.estado === 'pendiente-pago'" >
      <ion-spinner name="crescent"></ion-spinner>
      <p style="text-align: center;font-size: large;color: black;font-weight: bold;">Su pago esta siendo validado</p>
    </div>
  </div>
  <ion-button *ngIf="mostrarCuenta && !qr.scan && propinaCargada" [disabled]="pedido.estado === 'pendiente-pago'" (click)="ScanPropina()"  size="large" fill="solid"  expand="block" id="btn_ingresar">Pagar con QR</ion-button>
  <ion-button *ngIf="mostrarCuenta && !qr.scan && propinaCargada" [disabled]="pedido.estado === 'pendiente-pago'" (click)="Pagar()"  size="large" fill="outline"  expand="block" id="btn_borrar">Pagar Efectivo</ion-button>

  <div *ngIf="mostrarPropina">
    <div class="contenedor-propina">
      <div class="card card-propina">
        <div class="card-header card-header-propina">
          <h1 style="font-size: 23px;text-align: center;">¿Cuál es su nivel de satisfacción respecto a su atención?</h1>
        </div>
        <div class="card-body card-body-propina">
          <button class="btn btn-propina" (click)="AgregarPropina(20)">Excelente</button>
          <button class="btn btn-propina" (click)="AgregarPropina(15)">Muy Bueno</button>
          <button class="btn btn-propina" (click)="AgregarPropina(10)">Bueno</button>
          <button class="btn btn-propina" (click)="AgregarPropina(5)">Regular</button>
          <button class="btn btn-propina" (click)="AgregarPropina(0)">Malo</button>
        </div>
      </div>
    </div>
  </div>
</div>