<div id="div_principal" *ngIf="!qr.scan">

  <div *ngIf="mesaVinculada" class="card card_div" style="width: 18rem;padding: 0.5px;">
    <img [src]="mesa.imagen_qr">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Mesa {{mesa.numero}}</h5></div>
  </div>

  <div *ngIf="mesaVinculada">
    <ion-button  (click)="ConsultarMozo()"  size="large" fill="solid"  expand="block" id="btn_consultar">Consulta al Mozo</ion-button>
    <ion-button  *ngIf="pedido === null" (click)="MostrarProductos()"  size="large" fill="solid"  expand="block" id="btn_consultar">Hacer un pedido</ion-button>
    <!-- Escondo el boton de encuesta porque en si es innecesario que el cliente pueda ver las encuestas una vez que entro al local, como mucho antes de tener una mesa asignada -->
    <!-- <ion-button  (click)="VerEncuestas()"  size="large" fill="outline"  expand="block" id="btn_encuestas">Ver Encuestas</ion-button> -->
  </div>

  <div *ngIf="listadoProductos" class="contenedor-menu">
    <app-listado-productos [productos]="productos" [numeroMesa]="mesa.numero" (pedidoFinalizado)="PedidoCargado($event)"></app-listado-productos>
  </div>

</div>

<!-- ******************************* SPINNER *******************************-->
<div *ngIf="loading" class="custom-spinner">
  <h1 class="spinnerh1">Cargando...</h1>
  <img src="../../assets/icon/empresa.png" alt="Custom Spinner" />
</div>

<ion-footer *ngIf="cliente.perfil === 'Cliente'" [translucent]="true">
  <ion-button  (click)="ScanMesa()"  fill="outline" id="btn_qr"  >
    <img src="../../../assets/imagenes/qr.png"  id="img_qr">
  </ion-button>
</ion-footer>

