<div id="div_principal" *ngIf="!qr.scan">

  <div *ngIf="mesaVinculada" class="card card_div" style="width: 18rem;padding: 0.5px;">
    <img [src]="mesa.imagen_qr">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Mesa {{mesa.numero}}</h5></div>
  </div>

  <div *ngIf="mesaVinculada">
    <ion-button  (click)="ConsultarMozo()"  size="large" fill="solid"  expand="block" id="btn_consultar">Consulta al Mozo</ion-button>
    <ion-button  (click)="VerEncuestas()"  size="large" fill="outline"  expand="block" id="btn_encuestas">Ver Encuestas</ion-button>
  </div>

</div>

<ion-footer *ngIf="cliente.perfil === 'Cliente'" [translucent]="true">
  <ion-button  (click)="ScanMesa()"  fill="outline" id="btn_qr"  >
    <img src="../../../assets/imagenes/qr.png"  id="img_qr">
  </ion-button>
</ion-footer>

